.sidebar{
    h6 span{
        font-size: 20px;
    }
}
.sidebar-footer{
    position: relative;
    bottom: 0;
}
.content-header , .content{
    .dropdown-toggle{
        &::after{
            display: none !important;
        }
    }
    
}
// .btn-more{
//     .dropleft{
//         &::before{
//             display: none !important; 
//         }
//     }
// }
.content-link{
    .list-group-item.active{
        background-color: $secondary !important;
        border-color: $secondary !important;
        color: $black;
    }
}
.border-secondary{
    border-bottom: 1px solid $primary-light;
}
